
// variables
$test-background-color:#393392;
$font-color:#222222;
$background-color: #f2f5fc;
$master-color: #607eff; // 主色调
$secondary-color:#ff9000; // 次色调

$app-font-size:12px; // 网页默认字体大小
$title-font-size:14px; // 标题字体大小

$block-top-space:20px; // 块元素margin-top值
$list-top-space:10px; // 列表元素间距

